beautifulsoup4==4.9.3
lxml==4.6.2
networkx==2.5
nltk==3.5
numpy==1.20.1
pyttsx3==2.90
pywhatkit==3.9
requests==2.25.1
pip~=20.2.1
setuptools~=49.2.1
PyDictionary~=2.0.1
bs4~=0.0.1
randfacts~=0.2.11
fuzzywuzzy~=0.18.0
spotipy>=2.17.1
